<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <header th:fragment="common" style="border-bottom: grey solid; width: 100%; display: flex; justify-content: space-between;
    padding: 20px 20px">
        <logo>로고</logo>
        <form METHOD="post">
            <input type="text" >
            <BUTTON TYPE="submit">검색</BUTTON>
        </form>
        <div>
            <BUTTON TYPE="button">회원가입</BUTTON>
            <button type="button">로그인</button>
        </div>
    </header>
</html>